@model List<TrickOrTreaterModel>

@{
    ViewData["Title"] = "Home Page";
}

<h2>TagHelper</h2>

<form method="post" asp-action="Index" asp-controller="Home">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Name" class="control-label"></label>
        <input type="text" id="Name" name="Name" class="form-control" />
        @Html.ValidationMessage("Name")
    </div>
    <div class="form-group">
        <label for="FavoriteCandy" class="control-label"></label>
        <select id="FavoriteCandy" name="FavoriteCandy" class="form-control" asp-items="@(new SelectList(TrickOrTreaterModel.CandyList()))"></select>
        @Html.ValidationMessage("FavoriteCandy")
    </div>
    <div class="form-group">
        <label for="Costume" class="control-label"></label>
        <select id="Costume" name="Costume" class="form-control" asp-items="@(new SelectList(TrickOrTreaterModel.CostumeList()))"></select>
        @Html.ValidationMessage("Costume")
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@foreach (var treater in Model)
    {
<div>
    <h3>Name: @treater.Name</h3>
    Favorite Candy: @treater.FavoriteCandy<br />
    Costume: @treater.Costume<br />
</div>
    }